
#promo {
  background: url("../../assets/images/background/event_1.jpg")  top left; background-size: cover;
  background-position: 60% 95%;
}

.promo {
  padding-top: 15%;
  padding-bottom: 5%;
}

.logo {
  padding-top: 5%;
  width: 10%;
  height: 10%;
}

#header {
  background-color: white;
}

.third-color {
  color: white;
}

.fourth-color {
  color: #074f66;
}

.features .intro {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 60px;
}
